.divIMG {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.button {
	background:red;
	display:inline-block;
	padding:5px;
	cursor:pointer;
}
.add {
	position: fixed;
	top:0;
	right:0;
	background: green;
	padding: 4px;
	color: white;
	cursor: pointer;
	display:none;
}